div.colors{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;

    cursor: pointer;
}

div.selected{
    border: black 1px solid;
}

div.readOnly{
    cursor: default;
}

div.colors:hover{
    opacity: 0.5;
}

div.readOnly:hover{
    opacity: 1;
}

div.hide{
    display: none;
}
